.submit-btn{
    background-color: #366E42;
    border: none;
    border-radius: 1.2rem;
    width: 10rem;
    padding: 0.5rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2); 
}
.submit-btn:hover{
    background-color: #4b995c;
}
