.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.background-svg{
  position: fixed;
  bottom: 0px;
  transform: scale(1.1);
  left: 0;
  z-index: -5;
}

.form-group input {
  border-radius: 0.7rem;
}
.form-group label,
.input-group label{
  font-weight: bold;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.input-group input{
  border-radius: 0 0.7rem 0.7rem 0 !important;
}

.input-group-prepend span{
  background-color: rgb(54, 110, 67);
  color: white;
  border-radius: 0.7rem 0 0 0.7rem;

}

select{
  border-radius: 0.7rem !important;
}
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
.Nav{
  width: 100vw;
}
.swurf-logo{
  height: 5rem;
}
.swurf-logo .a{
  fill: rgb(54,110,67);
}
.swurf-logo .b{
  fill:none;
  stroke: rgb(54,110,67);
  stroke-width:35px;
}