.card-savings .progress,
.card-task .progress {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: .25rem;
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
}
.card-savings .progress-bar{
    background-color: blue;

}
.task-button:hover,
.taks-button:focus{
    cursor: pointer;
}